extends layout

block content
    br

    .container-xl.mt-5
        .row
            .col-sm.text-center.m-3
                .card.shadow(style='width: 18rem;')
                    img.card-img-top
                    .card-body
                        h5.card-title Daniel Belmeur
                        p.card-text Front-End Lead Developer
                            a.stretched-link(href='/profile/daniel-belmeur')
            .col-sm.text-center.m-3
                .card.shadow(style='width: 18rem;')
                    img.card-img-top
                    .card-body
                        h5.card-title Valdemar Puente-Gonzalez
                        p.card-text Team Leader
                            a.stretched-link(href='/profile/valdemar-puente-gonzalez')
            .col-sm.text-center.m-3
                .card.shadow(style='width: 18rem;')
                    img.card-img-top
                    .card-body
                        h5.card-title Philip Smith
                        p.card-text Back-End Lead Developer
                            a.stretched-link(href='/profile/phillip-smith')
        .row
            .col-sm.text-center.m-3
                .card.shadow(style='width: 18rem;')
                    img.card-img-top
                    .card-body
                        h5.card-title Sean Ellis
                        p.card-text Front-End Developer
                            a.stretched-link(href='/profile/sean-ellis')
            .col-sm.text-center.m-3
                .card.shadow(style='width: 18rem;')
                    img.card-img-top
                    .card-body
                        h5.card-title Karan Gurung
                        p.card-text Github Manager
                            a.stretched-link(href='/profile/karan-gurung')
            .col-sm.text-center.m-3
                .card.shadow(style='width: 18rem;')
                    img.card-img-top
                    .card-body
                        h5.card-title Salah Ali
                        p.card-text Back-End Developer
                            a.stretched-link(href='/profile/salah-ali')
    
