extends layout

block content
  br

  .container-xl.mt-5
    .row
      .col-sm.text-center.m-3
        .card.shadow(style='width: 18rem;')
          img.card-img-top
          .card-body
            h5.card-title Daniel Belmeur
            p.card-text Front-End Lead Developer
              a.stretched-link(href='/profile/daniel-belmeur')
      .col-sm.text-center.m-3
        .card.shadow(style='width: 18rem;')
          img.card-img-top
          .card-body
            h5.card-title Valdemar Puente-Gonzalez
            p.card-text Team Leader
              a.stretched-link(href='/profile/valdemar-puente-gonzalez')
      .col-sm.text-center.m-3
        .card.shadow(style='width: 18rem;')
          img.card-img-top
          .card-body
            h5.card-title Philip Smith
            p.card-text Back-End Lead Developer
              a.stretched-link(href='/profile/phillip-smith')
    .row
      .col-sm.text-center.m-3
        .card.shadow(style='width: 18rem;')
          img.card-img-top
          .card-body
            h5.card-title Sean Ellis
            p.card-text Front-End Developer
              a.stretched-link(href='/profile/sean-ellis')
      .col-sm.text-center.m-3
        .card.shadow(style='width: 18rem;')
          img.card-img-top
          .card-body
            h5.card-title Karan Gurung
            p.card-text Github Manager
              a.stretched-link(href='/profile/karan-gurung')
      .col-sm.text-center.m-3
        .card.shadow(style='width: 18rem;')
          img.card-img-top
          .card-body
            h5.card-title Salah Ali
            p.card-text Back-End Developer
              a.stretched-link(href='/profile/salah-ali')
  // Optional JavaScript
  // jQuery first, then Popper.js, then Bootstrap JS
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
