extends layout

block content
    
    .jumbotron
      .row
        .col-6.col-md-3
          img.rounded.shadow(src=url style='width:225px; height:300px;')
        .col-12.col-md-8
          p.lead=bio
      .row
        .col
          h4=name
          h5
            i=position
      hr.my-4
      a.btn.btn-primary.btn-lg(href="/about" role='button') Back To Team

